/* RESET */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box; /* */
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h2{
    font-size: 1.5em;
    color: #333;
}
p{
    font-size: 1em;
    color: #777;
}

/* CABECALHO */
.cabecalho{
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #13c7ae;
}
.logo a{
    width: 221px;
    height: 48px;
    float: left;
    background: url(../img/logo.png) no-repeat;
    font-size: 0;
}
.cabecalho form{
    float: right;
    width: 30%;
}
.cabecalho input[type="text"]{
    width: 85%;
    float: left;
    padding: 15px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cabecalho button{
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #0cae98;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* MENU */
.menu{
    float: left;
    width: 100%;
    background-color: #111;
    padding: 18px 8%;
}
.menu li{
    display: inline-block;
}
.menu ul{
    float: left;
}
.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
}
.menu li a:hover{
    color: #fff;
}
/* SOCIAL ICONS */
.social-icons{
    float: right;
}
.social-icons a{
    color:#fff;
    float: left;
    margin-left: 12px;
}
.btn-facebook:hover{
    color: #3b5998;
}
.btn-twitter:hover{
    color:#54a4d6;
}
.btn-google:hover{
    color: #d73d32;
}
/* PRINCIPAL */
.principal{
    width: 100%;
    float: left;
    padding: 20px 8%;
}
.sobre{
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}
.sobre h2{
    margin-bottom: 15px;
}
.sobre img{
    width: 50%;
    float: left;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.sobre p{
    text-align: justify;
}
/* SIDEBAR */
.onde-estamos{
    width: 30%;
    background-color: #f5f5f5;
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
}
.onde-estamos h2{
    margin-bottom: 5px;
}
.onde-estamos iframe{
    width: 100%;
    height: 250px;
    margin: 20px 0;
    border-radius: 5px;
}
.onde-estamos li{
    color: #777;
}
.onde-estamos i{
    margin-right: 5px;
}
/* NEWSLETTER */
.newsletter{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 50px 8%;
}
.newsletter h3{
    font-size: 1.8em;
    color: #fff;
}
.newsletter p{
    font-size: 1.2em;
    color: #fff;
}
.newsletter form{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.newsletter form input{
    width: 40%;
    margin-right: 0.8%;
    padding: 15px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: initial;
}
.newsletter button{
    width: 18%;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 10px;
    float: right;
}
/* FOOTER */
.rodape{
    width: 100%;
    background-color: #13c7ae;
    float: left;
    padding: 20px 8%; /* UTILIZOU NA PÁGINA INTEIRA ESSA MODELAGEM, COMO SE FOSSE UM CONTAINER */
}
.rodape p{
    color: #fff;
}
